/* I apologize for the !importants :) */
a.imdb {
    background-color: #b9090b !important;
    color: #ddc100 !important;
    font-style: normal !important;
    font-weight: bold !important;
    margin-left: .5em !important;
    padding: .2em !important;
    text-decoration: none !important;
}

a.imdb:hover {
    text-decoration: none !important;
}